* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body{
    background-color: #2f3947;
  }

  p .error{
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
  }

  .container{
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
  }
  .container h1{
    margin-left: 34px;
    text-align: center;
    font-size: 44px;
    padding: 20px 0 0 50px;
  }

  .container form{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: #fff;
  }
  .container form div{
    padding-top: 15px;
  }

  .container .error{
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .form-group input[type="submit"]{
    align-items: center;
    margin-left: 120px;
  }